button {
    all: unset;
    padding: 7px 20px;
    background-color: rgb(0, 97, 0);
    border: 1px solid rgba(255, 255, 255, 0.249);

    color: white;
    margin-right: 10px;
  }
  
  a {
    padding: 7px 20px;
    background-color: var(--azul-escuro);
    border: 1px solid rgba(255, 255, 255, 0.249);

    color: white;
    margin-right: 10px;
  }

  .delete{
    color: white;
    background-color: red;
  }